Repository Kage0923/hugo, changes with the owners that CODEOWNERS names for each.
All owners: @bep, @moorereason, @digitalcraftsman, @anthonyfok, @bogem

commands: Navigate to changed on CREATE When working with content from IntelliJ IDE, like WebStorm, every file save is followed by two events: "RENAME" and then "CREATE".
  commands/hugo.go
Owners: @bep

tpl/collections: Fix union when the first slice is empty
  tpl/collections/collections.go
  tpl/collections/collections_test.go
Owners: @bep

tpl/collections: Add some empty slice tests to intersect
  tpl/collections/collections_test.go
Owners: @bep

parser: Fix issue with escaped JSON front matter
  parser/page.go
  parser/parse_frontmatter_test.go
Owners: @bep

parser: Final (!) fix for issue with escaped JSON front matter
  parser/page.go
  parser/parse_frontmatter_test.go
Owners: @bep

Revert "vendor: Update dependencies for 0.26-DEV"
  vendor/vendor.json
Owners: @bep

releaser: Add release notes draft for 0.25.1
  temp/0.25.1-relnotes.md
Owners: @bep

releaser: Ignore openbsd/arm
  goreleaser.yml
  releaser/releaser.go
Owners: @bep

releaser: Add release notes to /docs for release of 0.25.1
  docs/content/release-notes/0.25.1-relnotes.md
Owners: @bep

releaser: Bump versions for release of 0.25.1
  commands/new.go
  docs/config.toml
  helpers/hugo.go
  snapcraft.yaml
Owners: @bep, @digitalcraftsman, @anthonyfok

releaser: Prepare repository for 0.25-DEV
  commands/new.go
  docs/config.toml
  helpers/hugo.go
  snapcraft.yaml
  temp/0.25.1-relnotes.md
Owners: @bep, @digitalcraftsman, @anthonyfok

Revert "Revert "vendor: Update dependencies for 0.26-DEV""
  vendor/vendor.json
Owners: @bep

Bump versions to 0.26-DEV
  commands/new.go
  docs/config.toml
  helpers/hugo.go
  snapcraft.yaml
Owners: @bep, @digitalcraftsman, @anthonyfok

hugolib: Make template panics into nice error messages
  hugolib/site.go
Owners: @bep

hugolib: Improve panic handling in layout rendering
  hugolib/site.go
Owners: @bep

Add GOEXE to support building with different versions of `go`
  Makefile
  bench.sh
  benchSite.sh
Owners: @bep

Improve the twitter card template
  tpl/tplimpl/template_embedded.go
Owners: @bep

hubolib: Add HasShortcode
  hugolib/page.go
  hugolib/site_output_test.go
Owners: @bep

Add the docs theme to .gitmodules
  .gitmodules
Owners: @bep

Add some README info about the docs repo
  README.md
Owners: @bep

appveyor: Update submodules
  appveyor.yml
Owners: @bep

Add note about doc-related pull requests in contribution guide
  CONTRIBUTING.md
Owners: @bep

Clarify the repo choice in the contribution guidelines
  CONTRIBUTING.md
Owners: @bep

Remove ^M from file to make line-endings consistent
  .gitignore
Owners: @bep

Add script to pull in docs changes
  pull-docs.sh
Owners: @bep

helpers: Add --trace to asciidoctor args
  helpers/content.go
  hugolib/page_test.go
  hugolib/shortcode_test.go
Owners: @bep

Change "hugodocs" to "hugoDocs" to match GitHub's default URL
  CONTRIBUTING.md
Owners: @bep

hugolib: Support reflinks starting with a slash
  hugolib/site.go
  hugolib/site_test.go
Owners: @bep

tpl: Use hash for cache key
  tpl/data/cache.go
Owners: @bep

docs: Add RSS template lookup example
  output/docshelper.go
Owners: @bep

Dockerfile: Optimize Docker image size
  Dockerfile
Owners: @anthonyfok

Dockerfile: Reduce image size from 277MB to 27MB
  Dockerfile
Owners: @anthonyfok

Dockerfile: Run go install with -ldflags '-s -w'
  Dockerfile
Owners: @anthonyfok

vendor: Update dependencies for 0.26-DEV
  vendor/vendor.json
Owners: @bep

Add --debug option to be improved on over time
  commands/hugo.go
  hugolib/config.go
Owners: @bep

tpl/collections: Fix intersect on []interface{} handling
  tpl/collections/where.go
  tpl/collections/where_test.go
Owners: @bep

tpl: Accommodate gccgo in TestMethodToName
  tpl/internal/templatefuncRegistry_test.go
Owners: @bep

Add -u flag for go get govendor in CONTRIBUTING.md
  CONTRIBUTING.md
Owners: @bep

CODEOWNERS:

# See https://github.com/blog/2392-introducing-code-owners

# These owners will be the default owners for everything in the repo.
*				@bep

tpl/*			@moorereason @bep
docs/*			@digitalcraftsman
snapcraft.yaml	@anthonyfok
Dockerfile		@anthonyfok
i18n/* 			@bogem
